a, a:link, a:visited, a:hover, a:active, #wikiResults {
    color: hotpink;
}

body {
  background-color: #FFF;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  min-height: 85vh;
  padding-bottom: 100px;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 5.5em;
}

.banner {
  display: flex;
}

.button-row {
  text-align: center;
  margin: auto;
}

.container {
  background-color: #2a2a2a;
  border-radius:5px;
  display: flex;
  padding: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.fa-refresh:hover {
    color: hotpink;
}

.footer {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 0.7em;
  margin-top: 1%;
}

.text {
  text-align: center;
  margin: auto;
}

#randomWiki {
  padding-bottom: 5%;
}

#searchQuery {
  color: #000;
}

#wikiResults {
  padding-bottom: 5%;
}

#wikiTitle {
  font-family: 'Lobster', cursive;
  font-size: 2.0em;
  padding-bottom: 5%;
}

#wikiButton:hover {
    background: hotpink;
}
